body{
margin:0;
background:#111;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.main{
text-align:center;
}

.orbit{
margin-top:40px;
display:flex;
gap:40px;
justify-content:center;
}

.planet{
width:120px;
height:120px;
border-radius:50%;
background:#444;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
}
